h1:not(#title-nav), h2, h3, footer, #resume, #call_to_action {
    text-align:center;
}

img#selfie {
    padding-right: 10px;
    padding-bottom: 0px;
    float:left;
}

#internship, #campbells, #labyrinth {
    border: 2px solid black;
}

#social {
    margin: 3px 3px 3px 3px;
}

#social:hover {
    margin-top: 0px;
}
